{% extends 'HomeSecurity/base.html' %}
{% load static %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
   <!--  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'HMSApp/assets/images/nitk-logo.png' %}"> -->
    <title>Home Surveillance System</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'HMSApp/' %}assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'HMSApp/' %}css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'HMSApp/' %}css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/hms">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <!-- <img src="{% static 'HMSApp/assets/images/nitk-logo.png' %} " class="dark-logo" height="50" /> -->
                            <i class="fa fa-building m-r-10" aria-hidden="true"></i>
                            
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                           <!--  <img src="{% static 'HMSApp/'%}assets/images/logo-text.png" alt="homepage" class="dark-logo" /> -->
                        Home Surveillance
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                      
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="/hms/profile/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout"></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                         <li>
                            <a href="" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i> Activity </a>
                        </li>
                      {% if request.session.user_type == "student" %}
                        <li>
                            <a href="/hms" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i> Dashboard </a>
                        </li>
                        <li>
                            <a href="/hms/profile" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Profile</a>
                        </li>
                        <li>
                            <a href="/hms/room_allotment" class="waves-effect"><i class="fa fa-building m-r-10" aria-hidden="true"></i>Room Allotment</a>
                        </li>
                        <li>
                            <a href="/hms/complaints" class="waves-effect"><i class="fa fa-weixin m-r-10" aria-hidden="true"></i>Complaints</a>
                        </li>
                        <li>
                            <a href="/hms/notice_board" class="waves-effect"><i class="fa fa-clipboard m-r-10" aria-hidden="true"></i>Notice Board</a>
                        </li>
                       {% endif %} 
                       {% if request.session.user_type == "hosteladmin" %}
                       <li>
                            <a href="/hms" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="/hms/profile" class="waves-effect"><i class="fa fa-user m-r-10" aria-hidden="true"></i>Profile</a>
                        </li>
                        <li>
                            <a href="/hms/applications" class="waves-effect"><i class="fa fa-columns m-r-10" aria-hidden="true"></i>View Applications</a>
                        </li>
                        <li>
                            <a href="/hms/all_complaints" class="waves-effect"><i class="fa fa-comment m-r-10" aria-hidden="true"></i>View Complaints</a>
                        </li>
                        <li>
                            <a href="/hms/notice_board" class="waves-effect"><i class="fa fa-clipboard m-r-10" aria-hidden="true"></i>Notice Board</a>
                        </li>
                        {% endif %}
                    </ul>
                    <!-- <div class="text-center m-t-30">
                        <a href="https://themewagon.com/themes/free-bootstrap-4-admin-dashboard-template/" class="btn btn-danger">Download Here</a>
                    </div> -->
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                  
                </div> -->
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {% block dashboard %}
                {% endblock %}
                <!-- Row -->
                <!-- Row -->
                
                <!-- Row -->
                <!-- Row -->
                <!-- Row -->
                <!-- Row -->
                
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                © 2018 Home Surveillance System
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->



    <script src="{% static 'HMSApp/' %}assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'HMSApp/' %}assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="{% static 'HMSApp/' %}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'HMSApp/' %}js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="{% static 'HMSApp/' %}js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="{% static 'HMSApp/' %}js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="{% static 'HMSApp/' %}assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'HMSApp/' %}js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript -->
    <script src="{% static 'HMSApp/' %}assets/plugins/flot/jquery.flot.js"></script>
    <script src="{% static 'HMSApp/' %}assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="{% static 'HMSApp/' %}js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="{% static 'HMSApp/' %}assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    
</body>

{% endblock %}
